<div class="col-md-12 content dashboard-body"> 

    <app-breadcrumbs side="admin" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>
    
    <ngb-alert *ngIf="!closed" class="animate-show animate-hide mb-3" type="{{alertClass}}" (close)="closed = true"><strong innerHTML={{alertMessage}} >{{ alertMessage }}</strong></ngb-alert>
    
    
    <div class="padding-body dk-table">
        <div class="content-box-shadow">
            <form [formGroup] = "formdata" >	
                <div class="row">  
                    <div class="col-md-12 text-right mb-2">{{this.ref_url}} <button class="btn btn-sm btn-primary" (click)="copyUrl(this.ref_url)" placement="left" ngbTooltip="Copy to reference url"  ><fa-icon [icon]="faCopy"></fa-icon></button> </div>
                    <div class="col-lg-2 col-md-6 form-group ippd50">
                        <select class="form-control fortextbox" id="status" name = "status" (change) = "changeStatus($event)" formControlName="status" >
                            <option value="null">Select Status</option>
                            <option value="Pending">Pending</option>
                            <option value="Accepted">Accepted</option>
                        </select>					
                    </div>	
                    <div class="col-lg-2 col-md-6 form-group ippd50">
                        <input id="search" type="text" placeholder="Search..." class="form-control" (keyup)="datatableSearch($event)" />
                    </div>				
                    <div class="col-lg-2 col-md-6 mb-4 ippd50">			
                        <div class="mtain">
                            <div class="min80 mr-2"><span class="Actives"></span> Accepted</div>
                            <div class="min80"><span class="Inactives"></span> Pending</div>	
                        </div>
                    </div>	
                    <div class="col-lg-6 col-md-6 form-group text_right">
                        <div class="btn-box">
                            <div class="theme-btn theme-btn-dd">
                                <span class="txt">
                                    <a class="btn btn_blueas" (click)='createRef(refpopup)' ><fa-icon [icon]="faUser"></fa-icon> &nbsp;Generate Reference</a>
                                </span>
                            </div>
                        </div>
                    </div>     
    
                          
                    <div class="col-md-12 form_lable form-group table-responsive main-tabl-height dk-table tpm">
                        <table id="ref-table" datatable [dtOptions]="dtOptions[1]" dt-instance="dtInstance" [dtTrigger]="dtTrigger" class="row-border table hover table-striped">
                            <thead>
                                <tr>							
                                    <th class="tidcenter tidc">S.No.</th>
                                    <th class="tttc">Name</th>									
                                    <th class="taic">Email</th>
                                    <th class="tcbc">Created By</th>
                                    <th class="tluc">Status</th>
                                    <th class="tluc">Last Update</th>
                                    <th class="tac">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="teams?.length != 0">
                                <tr *ngFor="let team of teams"
                                    [class.highlighted]="clicked === team.s_no" (click)="clicked = team.s_no"
                                >
                                    <td class="tidcenter tidc">{{ team.s_no }}</td>
                                    <td width="">{{ team.ref_name }}</td>
                                    
                                    <td width="">{{ team.ref_email }}</td>
                                    <td width="">
                                        <span><a href="javascript:void(0);" placement="top" ngbTooltip="View Profile - {{ team.create_by_name }}" (click)="viewUserProfile(team.created_by)" >{{ team.create_by_name }}</a></span>
                                    </td>
                                    <td width=""><div class="{{ team.ref_status }}">{{ team.ref_status }}</div></td>
                                    <td width="">{{ team.last_datetime }}</td>
                                    <td width="">
                                        <button  class="btn btn-sm btn-delete"  (click) = "deleteRef(team.id)" placement="top" ngbTooltip="Delete"><fa-icon [icon]="faTrash"></fa-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="teams?.length == 0">
                                <tr>
                                    <td colspan="7" class="no-data-available">No data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </form>      
        </div>
    </div>	
    </div>

    <ng-template #refpopup let-modal >
		<div class="dk-model-box">
			<div class="modal-header dk-model-header">
				<h4 class="modal-title" id="modal-basic-title">Generate Reference</h4>
				<button type="button" class="close mclose" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="mtable-height">
				<div class="modal-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                        <li [ngbNavItem]="1">
                          <a ngbNavLink>Manual</a>
                          <ng-template ngbNavContent>
                            <form [formGroup] = "reffrm">	
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 fiftypr"> 
                                        <div class="content-box-shadow content-box-shadow-sec"> 	
                                            
                                            <div class="row">
                                                <div class="col-md-4 col_lable   form-group">
                                                    <label>Name<span class="red-astr">*</span></label>
                                                </div>
                                                <div class="col-md-8 col_input form-group" >
                                                    <input type = "text" class = "form-control fortextbox" name = "ref_name" placeholder = "Name" formControlName="ref_name"  >                           
                                                    <ng-container *ngFor="let error of error_messages.ref_name">
                                                       <div class="error-message" *ngIf="reffrm.get('ref_name').hasError(error.type) && (reffrm.get('ref_name').dirty || reffrm.get('ref_name').touched)">
                                                          {{ error.message }}
                                                       </div>
                                                    </ng-container>
                                                </div>					 
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-4 col_lable   form-group">
                                                    <label>Email<span class="red-astr">*</span></label>
                                                </div>
                                                <div class="col-md-8 col_input form-group" >
                                                    <input type = "email" class = "form-control fortextbox" name = "ref_email" placeholder = "Email" formControlName="ref_email"  >                           
                                                    <ng-container *ngFor="let error of error_messages.ref_email">
                                                       <div class="error-message" *ngIf="reffrm.get('ref_email').hasError(error.type) && (reffrm.get('ref_email').dirty || reffrm.get('ref_email').touched)">
                                                          {{ error.message }}
                                                       </div>
                                                    </ng-container>
                                                </div>					 
                                            </div>	
                                            
                                            <div class="row">						
                                                <div class="col-md-4 col_lable  form-group">								
                                                </div>
                                                <div class="col-md-8 col_input btn_align">
                                                    <div class="btn-box">
                                                        <div class="theme-btn mr-2">
                                                            <span class="txt">
                                                                <button class = "forsubmit btn_blueas btn" (click)="onSubmit(reffrm.value)">Submit</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>							
                                            </div>									
                                        </div>
                                    </div>
                                    
                                                    
                                </div>			
                            </form>
                          </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                          <a ngbNavLink>CSV Import</a>
                          <ng-template ngbNavContent>
                            <form [formGroup] = "refcsvfrm">	
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 fiftypr"> 
                                        <div class="content-box-shadow content-box-shadow-sec"> 	
                                            
                                            <div class="row">
                                                <div class="col-md-4 col_lable   form-group">
                                                    <label>CSV<span class="red-astr">*</span></label>
                                                </div>
                                                <div class="col-md-8 col_input form-group" >
                                                    <input type = "file" class = "" name = "csv" formControlName="csv" (change)="check_csv($event)" >                           
                                                    <ng-container *ngFor="let error of error_messages.csv">
                                                       <div class="error-message" *ngIf="refcsvfrm.get('csv').hasError(error.type) && (refcsvfrm.get('csv').dirty || refcsvfrm.get('csv').touched)">
                                                          {{ error.message }}
                                                       </div>
                                                    </ng-container>
                                                </div>					 
                                            </div>
                                                                                       
                                            <div class="row">						
                                                <div class="col-md-10 col_lable form-group text-right mt-2">	
                                                    <a href="{{serverUrl}}media/ref-csv/demo-ref.csv" download placement="top" ngbTooltip="Download sample CSV" >Download sample CSV</a>							
                                                </div>
                                                <div class="col-md-2 col_input btn_align">
                                                    <div class="btn-box">
                                                        <div class="theme-btn mr-2">
                                                            <span class="txt">
                                                                <button class = "forsubmit btn_blueas btn" (click)="upload_csv()">Submit</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>							
                                            </div>									
                                        </div>
                                    </div>
                                    
                                                    
                                </div>			
                            </form>
                          </ng-template>
                        </li>
                        
                      </ul>
                      <div [ngbNavOutlet]="nav" class=""></div>
				</div>
			</div>
		</div>
	</ng-template>
    <app-viewuserprofile [get_viewProfile]="viewProfile" ></app-viewuserprofile>