.loader {
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: rgba(.0,.0,.0,.2);
	height: 100%;
	z-index: 9999;
}
.loader .spinner-border {
    z-index: 99999999;
    font-size: 20px;
    width: 50px;
	height: 50px;
	margin-top: 20%;
}
.theme-btn .btn_blueas {
    text-decoration: none;
	padding-right: 15px;
}
.report-page {
	border-top: 1px solid #d2d2d2;
	display: block;
}
.report-page .report-left {
	border: 1px solid #d2d2d2;
	border-top: 0px;
	padding: 0px 0px 20px;
}
.ex_sidebar {
	border-bottom: 1px solid #d2d2d2;
    padding: 25px;
	padding-bottom: 18px;
}

.ex_sidebar .heading {
	font-family: 'OpenSans-SemiBold', sans-serif;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    height: 18px;
    width: 18px;
    float: left;
    margin-top: 2px;
}

.padding-report-right {
	padding: 24px 10px 20px 10px;
}
.minheight800 {
	min-height: 700px;
}


/* body content box */
div.ex_relative {
	position: relative;
} 
div.ex_absolute {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #000000a6;
    padding: 3px 7px;
}

.ratting {
	color: #fff;
    font-size: 16.5px;
    font-family: 'Ubuntu-Medium', sans-serif;
}
.starc {
	color: #ffea00;
}
.Low,
.lowc {
	color: #00622a;
}
.Medium,
.mediumc {
	color: #ff8400;
}
.High,
.highc {
	color: #ff0600;
}
.bluec {
	color: #03002D;
}
.sidec {
	margin-left: 8px;
}
.usercircle {
    color: #88fbff;
}

.questionc {
	color: #132144;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    font-size: 18px;
    padding: 1px;
}
.form-group {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.bg-whitem {
	background-color: #F8F8F8;
}
.bgwhite {
    color: #212529;
	margin-bottom: 28px;
    background-color: #fff;
	box-shadow: 0 5px 15px 5px rgb(74 85 140 / 29%);
}
.bgwhite_padding {
    padding: 13px;
}
.bgwhite .heading{ 
	margin-bottom: 0;
	min-height: 55px;
	font-size: 19px;
}
a.sra {
	color: #212529 !important;
}
	
.bgwhite .authorby {
	font-size: 15px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.heading_brd_gray {
    border-bottom: 2px solid #e7e7e7;
    padding-top: 11px;
    width: 100%;
    margin: auto;
	margin-bottom: 20px;
}


/* .bgwhite .stars{ 
} */
.bgwhite .stars span{ 
    float: right;
    border: 2px solid #0060ff;
    text-align: center;
    padding: 13px 11px 15px;
    line-height: 0;
	color: #212529;
	background: #132144;
    color: #fff;
}
.bgwhite .stars span:hover{ 
	background: #0060ff;
}
/* body content box End*/

/* Alerts / News */
.alert-news {	
	background: #141d38;
    color: #fff;
	padding: 6px 0 4px 10px;
}
.alert-news .alert-txt {
	float: left;
	padding-right: 5px;
}
.alert-news .news-scroll{
	float: left;
	width: 90%;
}
.alert-news .news-scroll, .alert-news .news-scroll a {
	color: #fff;
}
.alert-news .news-scroll span:after {
    content: "|";
    margin: 0 10px;
}
.alert-news .news-scroll span:last-child:after {
    content: "";
    margin: 0;
}
/* Alerts End*/

.dropdown_menubg {
	background-color: #ffffff;
    border: 1px solid #d0d0d0;
}
.theme-btn .senariobtn {
	padding: 6px 26px 6px 10px !important;
	display: inline-block;
}
.ercredit {
	margin-left: 0px;
}
@media only screen and (min-width: 768px) 
{
	.dropdown_btn {
		min-width: 100%;
		text-align: left;
	}
	.dropdown_btn::after {
		float: right;
		margin-top: 9px;
	}
	.dropdown_btn:focus {
		outline: 0;
		box-shadow: none;
	}
	.mob_toggle {
		display: none;
	}	
}
@media only screen and (max-width: 768px) 
{	
	/* .bgwhite .heading{ 
		min-height: auto;
	} */
	.alert-news .news-scroll {
		width: 75%;
	}
	.dropdown_btn {
		min-width: 100%;
		text-align: left;
	}
	.dropdown_btn::after {
		float: right;
		margin-top: 9px;
	}	
	.report-page {
		height: auto;
	}
	.report-page .report-left {
		border-right: 0;
		float: none;
		height: auto;
		width: 100%;
		padding: 20px 0;
		border-bottom: 2px solid #d0d0d0;
	}
	.report-page .report-right {	
		height: auto;
	}
	.bgwhite {
		margin: 20px 5px;
	}
	.bgwhite .heading {
		font-size: 15px;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px)
{
	.alert-news .news-scroll {
		width: 83%;
	}
	.ipad-3 {
		min-width: 33.333333%;
	}
}

/* Filter */
@media only screen and (max-width: 767px) 
{
	.mobilefilter {
		position: fixed;
		z-index: 1000;
		background: #ffffff;
		bottom: 0;
		padding: 7px 15px !important;
	}
	.mobilefilter-height {
		height: 400px !important;
		overflow-x: auto;
		box-shadow: 0px 1px 9px 0px rgb(20 29 56);
	}
	.btn-filter {
		color: #ffffff;
		border-radius: 0px;
		text-transform: capitalize;
		background-color: #132144;
		border: 0;
		padding: 5px 0;
		font-family: 'Ubuntu-Medium', sans-serif;
		width: 100%;
	}
	.report-page .report-left {
		padding: 0 !important;
	}
	.alert-news .alert-txt {
		float: none;
		padding-right: 0px;
		text-align: center;
	}
	.alert-news .news-scroll{
		float: none;
		width: 100%;
	}
	.padding-report-right {
		padding: 24px 3px 20px;
	}
	
	.ercredit {
		display: inline;
		margin-top: 0px;
	}
}
/* End Filter */
.ex_relative a .eimg img {
	max-height: 100%;	
	width: 100%;
	height: 100%;
}
@media only screen and (min-width: 1280px)
{
	.ex_relative a .eimg {
		height: 193px;
	} 
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px)
{
	.ex_relative a .eimg {
		height: 134px;
	} 
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px)
{
	.ex_relative a .eimg {
		height: 140px;
	} 
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
	.bgwhite .heading{ 
		min-height: 50px;
	}
	.ratting {
		font-size: 12px;
	}
}




/* New Design */
/* .exercisesp {
    box-shadow: 0 2px 11px 1px rgb(74 85 140 / 29%);
	margin-bottom: 14px;
}
.exercises-cotent {
	padding: 6px 15px 10px;
}
.exercisesp img {
    border-radius: 3px;
    border-bottom: 1px solid #ececec;
}
.exercisesp .heading {
    margin-top: 10px;
	margin-bottom: 2px;
}
.exercisesp .authorby {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
	color: #616161;
	margin-bottom: 2px;
}
.exercisesp .starc {
    color: #eb8a2f;
}
.exercisesp .star_level {
	font-size: 12px;	
    margin-bottom: 10px;
	cursor: context-menu;
}
.exercisesp .star_level .score {
	font-size: 13.5px;
	margin-left: 3px;
}
.exercisesp .questionce {
    color: #132144;
    display: inline-block;
    border-radius: 50px;
    font-size: 15px;
    padding: 1px;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
}
.exercisesp .credite{
	font-size: 15px;
    color: green;
}
.exercisesp .ercredit {
    font-size: 14px;
    background: #132144;
    padding: 1px 5px;
    border-radius: 3px;
    color: #fff;
}
.exercisesp .theme-btn .btn_blueas, .theme-btn .txt {
    font-size: 13px !important;
}
.exercisesp .theme-btn .senariobtn {
    padding: 5px 18px 5px 8px !important;
}
@media only screen and (max-width: 1600px) 
{ 
	.exercisesp .heading {
		min-height: 38px;
	}
} */
/* End New Design */





/* New Version*/
.exercise{
	background: url(../../../assets/images/home/Exercises-Bg.svg) #020920;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-size: cover;
}

.container {
	max-width: 1400px;
}

.leftFilterPanel {
	border: 1px solid #2A6E63;
	background-color: #000;
	color: #0cc7b3;
    font-family: 'Tomorrow';
}

.user-rating {
	font-family: 'Tomorrow';
	color: #fff;
}

.details-section {
	border-bottom: 1px solid #2A6E63;
    padding: 25px;
	padding-bottom: 18px;
}

.details-section .main-title {
	font-family: 'Tomorrow';
	color: #0CC7AB;
}

.clear-filter {
	clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
	background: #0CC7AB;
    color: #fff;
    border: none;
	font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
}

.point-icon span {
	font-family: 'Tomorrow';
}

.exercise-bgwhite{
	background: rgba(33, 103, 163, 0.31);
    border: 1px solid #22619E;
    backdrop-filter: blur(2px);
	margin-bottom: 28px;
}

.bgwhite_padding {
    padding: 13px;
}
.bgwhite_padding .exercise-heading {
	font-family: 'Chakra Petch';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.308088px;
    color: #00FFFA;
}

.bgwhite_padding .exercise-authorby {
	font-family: 'Chakra Petch';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.308088px;
	color: #00FFFA;
	
}

.exercise-button{
	clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
    background: #0CC7AB;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
}

.add-to-basket-button{
    clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    background: rgba(33, 103, 163, 0.31);
	position: relative;

	/* --grad: transparent 99%,rgb(72, 250, 72) 50%;
    background: linear-gradient(to top right ,var(--grad)) top right,
				linear-gradient(to top left ,var(--grad)) top left,
				linear-gradient(to bottom right,var(--grad)) bottom right,
				linear-gradient(to bottom left ,var(--grad)) bottom left, rgba(33, 103, 163, 0.31);
    cursor: pointer;
    border: 2px solid #0cc7b3; */
}

.add-to-basket-button:hover {
	color: #000;
	background: #00FFFA;
	transition: all 0.5s ease-in-out;
}

.addBasket {
	position: absolute;
    width: 95%;
    height: 88%;
    top: 3px;
    left: 3px;
    background-color: rgba(33, 103, 163, 0.31);;
}

.exercise-price-button{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-price span {
font-family: 'Chakra Petch';
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #00FFFA;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
	background-color: #0cc7b3 !important;
}

.search_exercises {
	display: flex;
}

.exercises-repo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

.exercises-repo .exercises-title {
	font-size: 32px;
    color: #00FFFA;
    font-family: 'Chakra Petch';
	font-weight: 600;
}

.btn-filter {
	border: 1px solid #00FFFA;
    font-size: 16px;
    font-family: 'Chakra Petch';
    font-weight: 600;
    letter-spacing: 0.4px;
    background: transparent;
    color: #00FFFA;
    padding: 5px 50px;
    border-radius: 5px;
}

.repo-input {
	background: #00403f;
    border: none;
    margin-right: 20px;
    width: 250px;
	color: #00FFFA;
    font-family: 'Chakra Petch';
}

.repo-input::placeholder {
	color: #00FFFA;
    font-family: 'Chakra Petch';
}

.dropdown-menu {
    margin: 20px 0px !important;
    padding: 0;
    width: 340px;
}

.accordion {
	padding: 10px;
    background-color: #0c2840;
}

.accordion .accordion-item {
	border: none;
	margin-bottom: 10px;
}

.accordion-button {
	background: #0c2840;
    border-radius: 0;
	padding: 20px 15px;
}

.accordion-button:not(.collapsed)::after {
	background-image: url('./../../../assets/images/home/accordion-icon.svg');
	height: 10px;
    width: 20px;
    background-size: contain;
	margin-right: 5px;
}

.accordion-button::after {
	background-image: url('./../../../assets/images/home/accordion-icon.svg');
	height: 10px;
    width: 20px;
    background-size: contain;
}

.active{
	background-color: #0b3e53;
}

.accordion-body {
	background: #0c2840;
	color: #fff;
}

.clear-filter {
	background-color: #243e53;
}

.filters {
	display: flex;
	justify-content: space-between;
	background: #243e53;
	padding: 20px 22px;
}

.accordion-body .user-rating-star {
    line-height: 40px;
}

.accordion-body .user-rating-star .form-check {
	display: flex;
    align-items: center;
}
 
.accordion-body .user-rating-star .form-check .rating-radio {
	margin-bottom: 4px;
}

.accordion-body .user-rating-star .form-check .rating-label {
	font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.clear-rating {
	color: #FF8B89;
    font-family: 'Chakra Petch';
    font-size: 14px;
	letter-spacing: 0.4px;
	text-decoration: underline;
	font-weight: 500;
}

.filters .clear-btn {
	color: #00FFFA;
    background: transparent;
    border: 2px solid #00FFFA;
    border-radius: 5px;
    padding: 7px 20px;
    font-family: Chakra Petch;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.filters .btn-done {
	color: #0b556b;
    background: #00FFFA;
    border: 2px solid #00FFFA;
    border-radius: 5px;
    padding: 7px 20px;
    font-family: Chakra Petch;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.filters-title {
	background: #0c2840;
    border-bottom: 3px solid #000000;
    padding: 16px 25px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}


.filters-title label {
	color: #fff;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-family: Chakra Petch;
    margin: 0;
    padding: 0;
    font-weight: 500;
	width: 100%;
}

.exercise-basket {
	display: flex;
    justify-content: space-between;
    align-items: center;

}

.disable-cls {
	cursor: not-allowed;
}

.close-icon {
	position: absolute;
    right: 25px;
    top: 25px;
}

@media only screen and (max-width: 440px){
	.exercises-repo .exercises-title {
        font-size: 20px !important;
    }

    .search_exercises .repo-input {
        width: 150px !important;
    }
}

@media only screen and (max-width: 600px){
    .exercises-repo .exercises-title {
        font-size: 24px;
    }

    .btn-filter {
        padding: 5px 20px
    }

    .search_exercises .repo-input {
        width: 190px;
    }
}

.searchinput{
	padding-left: 35px;
}
.searchicon{
	position: relative;
    top: 5px;
    left: 25px;
}

.filter-by {
	padding-bottom: 40px;
	display: flex;
	align-items: center;
}

.filter-by span {
   font-size: 16px;
   font-family: 'Chakra Petch';
   letter-spacing: 0.4px;
   color: #fff;
   font-weight: 500;
}

.user-rate {
	color: #fff;
	font-size: 16px;
	font-family: 'Chakra Petch';
	letter-spacing: 0.4px;
	display: flex;
    background-color: #4B4B4B;
    align-items: center;
	padding: 8px 15px;
    border-radius: 5px;
}

.user-rate p {
	margin: 0;
	font-family: 'Chakra Petch';
}