<!--start admin breadcrumbs-->
<div *ngIf="side=='admin'" class="row">
    <div class="col-md-12 dashboard-breadcrumb">
        <div class="breadcrumb-sidepadd">
            <button type="button" class="side-menu-btn" (click)="action_sidebar()" id="sidebarCollapse">
                <fa-icon [icon]="faBars"></fa-icon>
			</button>
			<h4 class="dashboard-heading">{{this.form_title}}</h4>
            <div class="right-breadcrumb">
                <a routerLink="{{dashboard_url}}/dashboard">Dashboard</a>
                <span *ngFor="let cur_url of current_url_array; let i = index" >
                  <span *ngIf="cur_url.slug==''" class="blank-link" >  <span> {{cur_url.label}}</span> </span>
                  <span *ngIf="cur_url.slug!=''" class="not-blank-link" >  <a routerLink="{{dashboard_url}}/{{cur_url.slug}}"> {{cur_url.label}}</a>  </span>
                </span>
            </div>
        </div>		
    </div>
</div>
<!--end admin breadcrumbs-->

<!--start frontend breadcrumbs-->
<div *ngIf="side=='front'" class="sub-header">	
	<h2 class="header-title">{{this.form_title}}</h2>
	<ul *ngFor="let cur_url of current_url_array; let i = index" class="page-breadcrumb">
		<li *ngIf="i==0" ><a routerLink="/" >Home</a></li> 
		<li *ngIf="cur_url.slug==''" class="blank-link" >{{cur_url.label}}</li>
		<li *ngIf="cur_url.slug!=''" class="not-blank-link" ><a routerLink="/{{cur_url.slug}}" >{{cur_url.label}}</a></li>
	</ul>	
</div>
<!--end frontend breadcrumbs-->
