.footer-section .copyright {
    font-size: 12.4px;
}
.footer-section p {
	font-size: 15.5px !important;
    line-height: 22px !important;
}
.footer-section a{
	color: #fff;
}
.footer-section a:hover{
	color: #b2b5ba  !important;
}
.footer-section a:hover {
	color: #c9ddff;
}
.social-media a:hover {
	opacity: 0.7;
}
.footer-section .fli {
	margin-top: -5px;
}
.footer-section .fli a{
	font-size: 14px;
    margin-bottom: 5px !important;
    display: block;
}
/*  demo popup     */
.demo-layout{
    margin-top: 150px;
    max-width: 700px !important;
}
.dbody .form-color{
    background-color: #141D38;
}
.demo-header{
    background-color: #922C39;
}



.container-fluid {
    background: #081327;
    /* margin-top: 20px; */
}

.container {
    max-width: -webkit-fill-available;
}

.footer .row {
    padding: 50px 0px;
}

.footer-header-title {
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-option {
    margin-top: 20px;
}


.footer-all-section .borderbottom {
  border-bottom: 1px solid #00FFFA;
  margin: 0px 50px;
}

.footer-all-section{
    /* background-image: url('./../../../assets/images/home/footer-bg.jpg');
    background-size: cover; */
    background-color: 09114A;
}

.footer-option p{
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-menu {
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.footer-social {
    text-align: end;
}

.footer-social .footer-social-icon {
    justify-content: end;
}

.footer-menu ul li a{
    list-style: none;
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    line-height: 40px;
    padding: 0;
}

.footer-social-icon {
    display: flex;
    margin-bottom: 30px;
    padding-left: 30px;
}

.footer-social-icon .social-icon a {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.footer-copyright {
    text-align: center;
    padding: 28px 0px;
    padding-bottom: 40px;
}

.footer-copyright .copyright {
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    font-size: 18px;
}

.footer-copyright span {
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-copyright span i {
    color: red;
}
.social-icon i {
    color: #081327;   
}

@media only screen and (max-width: 991px){

    .made-in-india {
        width: -webkit-fill-available;
    }

    .footer-social-icon .social-icon a {
        height: 32px;
        width: 32px;
        margin-right: 8px;
    }

    .footer img {
		width: -webkit-fill-available;
	}
}


@media only screen and (max-width: 767px){

    .made-in-india {
        width: auto;
    }

    .footer-social-icon .social-icon a {
        height: 32px;
        width: 32px;
        margin-right: 8px;
    }

    .footer-menu ul { 
		padding: 0;
	}

	.footer img {
		width: auto;
	}
    
    .footer-menu {
        justify-content: start;
    }

    .footer-social {
        text-align: start;
    }

    .footer-social .footer-social-icon {
        justify-content: start;
    }
    
    .footer-all-section .row {
		margin: 0px 10px;
	}
    /* new  */
   .footer-details-icon{
    float: left !important;
    width: 50%;
   }
   .copyright-menu{
    justify-content: center !important;
   }
   .copy-img-made{
    justify-content: center !important;
   }
}



@media only screen and (max-width: 360px){

    /* .footer-logo {
        width: fit-content;
    }

    .made-in-india {
        width: fit-content;
    } */

    .footer-social-icon .social-icon a {
        height: 32px;
        width: 32px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 1366px){
    .footer-wehelp{
        width: 70% !important;
    }
}

@media only screen and (max-width: 1366px){
    .footer-wehelp{
        width: 80% !important;
    }
}

.copyright-img-menu{
    margin: 0px 50px;
}

.footer-help{
    font-family: 'Chakra Petch';
    font-weight: 600;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}
.footer-details{
    font-size: 16px;
    font-family: 'Chakra Petch';
    color: #FFFFFF;
    
}
.footer-ui{
    margin-top: 0;
    padding: 0;
    margin-bottom: 2rem;
}
.footer-ui-help{
    margin-top: 0;
    padding: 0;
    margin-bottom: 3rem;
}
.copyright-menu {
    font-family: 'Chakra Petch';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
}
.copyright-menu ul {
    list-style-type: none;
}

.footer-details-icon{
    float: right;
    width: 50%;
    margin-right: 100px;
    letter-spacing: 0.4px;
    font-family: 'Chakra Petch';
}
.img-text{
    display: flex;
}
.img-text .img{
    padding-right: 10px;
}
.copyright-img img{
    width: 100px;
    padding-left: 20px;
}
.copy-img-made{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-wehelp{
    width: 50%;
}