<!-- Header -->
<app-candidateheader></app-candidateheader>

<!-- Sub Header -->
<app-breadcrumbs side="front" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>
<!-- Sub Header End -->

<div class="loginbg padding-all thankyoubgimg"> 
	<div class="loginpage"> 
		<div class="loginform">
			<h3 class="heading">Thank You! <div class="heading_brd_white"></div></h3>
			<p>Please check your email for further instructions on how to verify your account.</p>
		</div>
	</div>
</div>

<!-- Footer -->
<app-candidatefooter></app-candidatefooter>
