<app-candidateheader></app-candidateheader>

<!-- Sub Header-->
<app-breadcrumbs [side]="'front'" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>


<!-- Sub Header End -->

<div class="loginbg loginbgimg padding-all"> 
	<div class="loginpage"> 
		<div class="loginform">
			<h3 class="heading">Reset Password <div class="heading_brd_white"></div></h3>
			
			<form [formGroup] = "resetpass_frm" > 				
				<div class="row form-group"> 
					<div class="col-md-12">
						<input type = "password" class = "form-control fortextbox" name = "password" placeholder = "Password" formControlName="password" >  
						<ng-container *ngFor="let error of error_messages.password">
							<div class="error-message" *ngIf="resetpass_frm.get('password').hasError(error.type) && (resetpass_frm.get('password').dirty || resetpass_frm.get('password').touched)">
								{{ error.message }}
							</div>
						</ng-container>	
					</div>
				</div>
				   
				<div class="row form-group"> 
					<div class="col-md-12">
						<input type = "password" class = "form-control fortextbox" name = "conf_password" placeholder = "Confirm Password"  formControlName="conf_password"  >                           
						<ng-container *ngFor="let error of error_messages.conf_password">
							<div class="error-message" *ngIf="resetpass_frm.get('conf_password').hasError(error.type) && (resetpass_frm.get('conf_password').dirty || resetpass_frm.get('conf_password').touched)">
								{{ error.message }}
							</div>
						</ng-container>	
						<div class="error-message" *ngIf="f.conf_password.errors?.mustMatch">Passwords must match</div>					</div>
				</div>

				<div class="row form-group">					
					<div class="col-md-12 mt-1">
						<div class="btn-box">
							<div class="theme-btn">
								<span class="txt">
									<input type="submit" (click)="onSubmit(resetpass_frm.value)" class="forsubmit btn_blueas" value="Reset Password">
								</span>
							</div>
						</div>						 
					</div>		
										
					<div class="col-md-12 text-center">					
						<ngb-alert *ngIf="!closed" class="animate-show animate-hide mt-3" type="{{alertClass}}" (close)="closed = true"><strong innerHTML={{alertMessage}} >{{ alertMessage }}</strong></ngb-alert>
					</div>	

					<div *ngIf="loginlink==true" class="col-md-12 text-center">					
						<a routerLink="/login" class="linka">Login Here</a>
					</div>	

					
				</div>
			 </form> 
		</div>
	</div>
</div>

<div *ngIf="progressbar" class="progressbar-area col-md-12"> 
	<div class="inner-area col-md-6 text-center">
		<img src="{{server_url}}media/images/loader.svg" class="img-fluid">
		<p class="text-center loaderc" >Please Wait ...</p>
    </div>
</div>

<!-- Footer -->
<app-candidatefooter></app-candidatefooter>