.olpl {
    padding-left: 20px;
}
.ttflex {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.paddy {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.ttsn {
    display: inline-block;
    min-width: 21px;
    text-align: center;
}
.mr-2 {
    margin-right: .5rem;
}
.ttn {
    flex: 1 1 0%;
}
.mr-4 {
    margin-right: 1rem;
}
.ttn a {
    color: #000; 
}
.ttn a:hover {
    color: #0060ff;
}
.content-box-shadow-sec {
    margin-bottom: 17px !important;
}