<!-- Header -->
<app-candidateheader></app-candidateheader>

<!-- Sub Header -->
<app-breadcrumbs side="front" [form_title]="form_title" [current_url_array]="current_url_array"></app-breadcrumbs>
<!-- Sub Header End -->

<div class="col-md-12 page-min-height padding-all padding-tb maxf-width"> 
    <div class="row dk-table dahboard_blocksd">	
        
        <app-viewwallettransitionlist></app-viewwallettransitionlist>

       <!-- <div class="col-sm-6 col-lg-3 total-box">
            <div class="block block-rounded d-flex flex-column">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center bshadow">
                    <div class="">
                        <div class="font-size-h2">200</div>
                        <div class="text-muted">Wallet</div>
                    </div>
                    <div class="item item-rounded bg-body">
                        <fa-icon [icon]="faWallet" class="faicn font-size-h3 fac"></fa-icon>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                </div>
            </div>								
        </div>
       <div class="col-sm-6 col-lg-3 total-box">
            <div class="block block-rounded d-flex flex-column">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center bshadow">
                    <div class="">
                        <div class="font-size-h2">1000</div>
                        <div class="text-muted">Credit</div>
                    </div>
                    <div class="item item-rounded bg-body">
                        <fa-icon [icon]="faMoneyBill" class="faicn font-size-h3 fac"></fa-icon>
                    </div>
                </div>                
                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                </div>
            </div>								
        </div>--> 
    </div>	

	<!--<div class="row pl-3 pr-3 dk-table">
        <div class="col-md-12 p-0 table-responsive main-tabl-height wallet basketbox">
            <table class="table  table-hover mb-0"> 
                <thead class="wthead">
                    <tr>
                        <th class="">Transactions</th>
                        <th class="">Amount (INR)</th>
                        <th class="">Status</th>
                        <th class="">Order ID</th>
                        <th class="">Transaction ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="w-icon">
                                <fa-icon [icon]="faExchangeAlt"></fa-icon>
                            </div>
                            <div class="w-tra">
                                Paid for order
                                <span classs="cap">30 jan, 8:30 am</span>
                            </div>
                        </td>
                        <td class="cr-pluse">
                            <fa-icon [icon]="faPlus" class="crpi"></fa-icon>1000
                        </td>
                        <td>Success</td>
                        <td>#58BG745</td>
                        <td>#M368BG7</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="w-icon">
                                <fa-icon [icon]="faWallet"></fa-icon>
                            </div>
                            <div class="w-tra">
                                Add to wallet
                                <span classs="cap">30 jan, 8:30 am</span>
                            </div>
                        </td>
                        <td class="cr-pluse">
                            <fa-icon [icon]="faPlus" class="crpi"></fa-icon>7654
                        </td>
                        <td>Success</td>
                        <td>#58BG745</td>
                        <td>#M368BG7</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="w-icon">
                                <fa-icon [icon]="faExchangeAlt"></fa-icon>
                            </div>
                            <div class="w-tra">
                                Paid for order
                                <span classs="cap">30 jan, 8:30 am</span>
                            </div>
                        </td>
                        <td class="cr-minus">
                            <fa-icon [icon]="faMinus" class="crmi"></fa-icon>3255
                        </td>
                        <td>Success</td>
                        <td>#58BG745</td>
                        <td>#M368BG7</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="w-icon">
                                <fa-icon [icon]="faWallet"></fa-icon>
                            </div>
                            <div class="w-tra">
                                Add to wallet
                                <span classs="cap">30 jan, 8:30 am</span>
                            </div>
                        </td>
                        <td class="cr-pluse"><fa-icon [icon]="faPlus" class="crpi"></fa-icon>9865</td>
                        <td>Success</td>
                        <td>#58BG745</td>
                        <td>#M368BG7</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="w-icon">
                                <fa-icon [icon]="faExchangeAlt"></fa-icon>
                            </div>
                            <div class="w-tra">
                                Paid for order
                                <span classs="cap">30 jan, 8:30 am</span>
                            </div>
                        </td>
                        <td class="cr-minus">
                            <fa-icon [icon]="faMinus" class="crmi"></fa-icon>9856
                        </td>
                        <td>Success</td>
                        <td>#58BG745</td>
                        <td>#M368BG7</td>
                    </tr>
                </tbody>
            </table>
        </div>		
	</div>-->		
</div>
	
<!-- Footer -->
<app-candidatefooter></app-candidatefooter>