<app-candidateheader></app-candidateheader>

<!-- Sub Header-->
<app-breadcrumbs [side]="'front'" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>

<!-- Sub Header End -->
<div class="loginbg loginbgimg padding-all"> 
	<div class="loginpage"> 
		<div class="loginform">
			<h3 class="heading">Forgot Password<div class="heading_brd_white"></div></h3>
			
			<form [formGroup] = "forgotpass_frm" > 				
				<div class="row form-group"> 
					<div class="col-md-12">
						<input type = "email" class = "form-control fortextbox" id="email" name = "email" placeholder = "Email ID" formControlName="email" >  
						<ng-container *ngFor="let error of error_messages.email">
							<div class="error-message text-white" *ngIf="forgotpass_frm.get('email').hasError(error.type) && (forgotpass_frm.get('email').dirty || forgotpass_frm.get('email').touched)">
								{{ error.message }}
							</div>
						</ng-container>
					</div>
				</div>

				<div class="row form-group"> 
					<div class="col-md-8">
						<p class="lbmt">
							<span class="linka">Don't have account? </span>
							<a routerLink="/registration" class="linka linkul">Register Now</a>
						</p>
					</div>
					<div class="col-md-4 lbtnr">					
						<div class="btn-box">
							<div class="theme-btn">
								<span class="txt">
									<input type="submit" (click)="onSubmit(forgotpass_frm.value)" class="forsubmit btn_blueas" value="Submit">
								</span>
							</div>
						</div>
					</div>
					
					<div class="col-md-12 text-center">					
						<ngb-alert *ngIf="!closed" class="animate-show animate-hide mt-3" type="{{alertClass}}" (close)="closed = true"><strong innerHTML={{alertMessage}} >{{ alertMessage }}</strong></ngb-alert>
					</div>										
				</div>
			 </form> 
		</div>
	</div>
</div>

<div *ngIf="progressbar" class="progressbar-area col-md-12"> 
	<div class="inner-area col-md-6 text-center">
		<img src="{{server_url}}media/images/loader.svg" class="img-fluid">
		<p class="text-center loaderc" >Please Wait ...</p>
    </div>
</div>

<!-- Footer -->
<app-candidatefooter></app-candidatefooter>



<div class="section forgot-section">
	<div class="forgot-card">
		<div class="forgot_screen">
			<div class="forgot_item_box container">
				<div class="container">
					<div class="forgot_logo">
						<img src="../../assets/images/home/login-logo.svg" alt="">
					</div>
					<div class="forgot_header">
						<span>Forgot password</span>
					</div>
					<form [formGroup]="forgotpass_frm" (ngSubmit)="onSubmit(forgotpass_frm.value)">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="forgot_input_text">
									<input class="input" [ngClass]="this.forgotpass_frm.value.email?.length > 0 || (forgotpass_frm.get('email').dirty || forgotpass_frm.get('email').touched) ? invalidMessage(error_messages.email) : '' "
										type="email" placeholder="Email id" formControlName = "email">
								</div>
								<ng-container *ngFor="let error of error_messages.email">
									<div class="error-message" *ngIf="forgotpass_frm.get('email').hasError(error.type) && (forgotpass_frm.get('email').dirty || forgotpass_frm.get('email').touched)">
										<div class="error_mess">
											<div class="img">
												<img src="../../assets/images/home/error-vector.svg" alt="">
											</div>
											<div class="error-text">
												{{ error.message }}
											</div>
										</div>
									</div>
								</ng-container>	
							</div>
						</div>
						<div class="sign_in">
							<button type="submit" class="button" (click)="onSubmit(forgotpass_frm.value)">SUBMIT</button>
						</div>
						<ng-container *ngIf="!closed">
							<div class="success-message">
								<div class="success_mess">
									<div class="img">
										<img src="../../assets/images/home/success-vector.svg" alt="">
									</div>
									<div class="success-text">
										{{ alertMessage }}
									</div>
								</div>
							</div>
						</ng-container>	
					</form>
					<div class="have_an_account">
						<span>Don’t have an account? <label><a routerLink="/registration">Register
									now</a></label></span>
					</div>
				</div>
			</div>
			<div class="cyberrange">
				<span>© 2023 SkyVirt® CyberRange</span>
			</div>
		</div>
	</div>
</div>
