<div class="padding-body">
    <div class="content-box-shadow">
        <form [formGroup] = "formdata">
            <div class="row">							
                <div class="col-lg-2 col-md-6 form-group ippd50">
                    <select class="form-control fortextbox" id="status" name = "status" (change) = "changeStatus($event)" formControlName="status" >
                        <option  value="">Select Status</option>
                        <option  value="Claim">Claim</option>
                    </select>					
                </div>
                
                <div class="col-lg-2 col-md-6 form-group ippd50">
                    <input id="search" type="text" placeholder="Search..." class="form-control" (keyup)="datatableSearch($event)" />			
                </div>
                
                <div class="col-md-12">
                    <ngb-alert *ngIf="!closed" class="animate-show animate-hide mt-2 mb-2" type="{{alertClass}}" (close)="closed = true"><strong innerHTML={{alertMessage}} >{{ alertMessage }}</strong></ngb-alert>
                </div>
                <div class="col-md-12 form_lable form-group table-responsive main-tabl-height dk-table tpm">
                    <table datatable [dtOptions]="dtOptions" class="row-border table hover table-striped">
                        <thead>
                            <tr>
                                <th class="tidcenter tidc">S.No.</th>
                                <th class="ttnc">Name</th>
                                <th *ngIf="group_id=='1'" class="ttnc">User Name</th>
                                <th *ngIf="group_id=='1'" class="ttnc">Email</th>
                                <th class="tttc">Price</th>
                                <th class="tluc">Credit</th>
                                <th class="tluc">Order Id</th>
                                <th class="tluc">Trans. Id</th>
                                <th class="tluc">Purcahse Date</th>
                                <th class="">Action</th>
                                <th class=""></th>

                            </tr>
                        </thead>
                        <tbody *ngIf="persons?.length != 0">
                            <tr *ngFor="let person of persons" [class.highlighted]="clicked === person.s_no" (click)="clicked = person.s_no" >
                                <td class="tidcenter">{{ person.s_no }}</td>
                                <td>{{ person.voucher_name }}</td>
                                <td *ngIf="group_id=='1'" ><a href="javascript:void(0);" placement="top" ngbTooltip="View Profile - {{ person.user_name }}" (click)="viewUserProfile(person.user_id)" >{{ person.user_name }}</a></td>
                                <td *ngIf="group_id=='1'" >{{ person.email }}</td>
                                <td>{{ person.price }}</td>
                                <td>{{ person.credit }}</td>
                                <td *ngIf="person.order_id!=null" >{{ person.order_id }}</td>
                                <td *ngIf="person.trans_id!=null" >{{ person.trans_id }}</td>
                                <td *ngIf="person.order_id==null" class="text-center" >-</td>
                                <td *ngIf="person.trans_id==null" class="text-center" >-</td>

                                <td><span class="datetime d-block">{{ person.datetime }}</span></td>
                                <ng-container *ngIf="update_by==person.user_id">
                                    <td *ngIf="person.status==null; else claimed" >
                                        <button (click)="claimVoucher(person.id);" class="btn claimbtn" placement="top" ngbTooltip="Claim">
                                            Claim <fa-icon [icon]="faPaperPlane" class=""></fa-icon>
                                        </button>
                                    </td>
                                    <ng-template #claimed >
                                        <td class="text-center" >-</td>
                                    </ng-template>
                                </ng-container>
                                <td *ngIf="update_by!=person.user_id" class="text-center" >-</td>

                                <td *ngIf="person.download=='1'" class="text-center" >
                                    <button (click)="downLoad(person.order_id);" class="btn btn-sm btn-primary" placement="top" ngbTooltip="Download">
                                        <fa-icon [icon]="faDownload" class=""></fa-icon>
                                    </button>
                                </td>
                                <td *ngIf="person.download!='1'" class="text-center" >-</td>

                               
                            </tr>
                        </tbody>
                        <tbody *ngIf="persons?.length == 0">
                            <tr>
                                <td [attr.colspan]="table_length" class="no-data-available">No data!</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
      </form> 				  
    </div>
</div>
<app-viewuserprofile [get_viewProfile]="viewProfile" ></app-viewuserprofile>

