<app-candidateheader></app-candidateheader>

<!-- Sub Header-->
<app-breadcrumbs [side]="'front'" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>

<!-- Sub Header End -->
<div class="padding-all page-min-height maxf-width"> 	
	<div class="row mt-5 mb-5">
		<div class="col-md-12">
            <h2 class="heading text-center">
                Who Is Responsible For SkyVirt Team?
                <div class="heading_brd_blue_center"></div>
            </h2>
		</div>
	</div>
	
	<div class="row text-center our-team"> 
		<div class="col-lg-4 col-md-6 mb-5">
			<a>
				<img src="{{server_url}}media/images/prince.jpg" class="img-fluid rounded-circle">
				<h5><a>Prince Komal Boonilia</a></h5>
				<div class="heading_brd_name"></div>
				<p>Director, CEO</p>
			</a>			
			<div class="social">
				<a class="sa"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa" href="https://in.linkedin.com/public-profile/in/princeboonlia" target="_blank"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa" href="https://twitter.com/boonlia" target="_blank"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>			
		</div>
		<div class="col-lg-4 col-md-6 mb-5">
			<a routerLink="/team-profile/tarun-kumar-kushwaha"> <!--routerLink="/team-profile"-->
				<img src="{{server_url}}media/images/tarun.jpg" class="img-fluid rounded-circle">
				<h5>Tarun Kumar Kushwaha</h5>
				<div class="heading_brd_name"></div>
				<p>Director & CTO<br>Chief Architect of CyberRange</p>
			</a>
			<div class="social">
				<a class="sa" href="https://www.facebook.com/tarunsoft1" target="_blank"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa" href="https://in.linkedin.com/in/tarun-kumar-kushwaha-42311220" target="_blank"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa" href="https://twitter.com/tarunsoft1" target="_blank"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-5">
			<a >
				<img src="{{server_url}}media/images/mayur.jpg" class="img-fluid rounded-circle">
				<h5>Mayur Agnihotri</h5>
				<div class="heading_brd_name"></div>
				<p>Executive Director</p>
			</a>
			<div class="social">
				<a class="sa" href="https://www.facebook.com/mayur.agnihotri21" target="_blank"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa" href="https://www.linkedin.com/in/mayuragnihotri/" target="_blank"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa" href="https://twitter.com/I_AM_Mayur0021" target="_blank"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>
		</div>

		<div class="col-lg-4 col-md-6 mb-5">
			<a >
				<img src="{{server_url}}media/images/bharat.jpg" class="img-fluid rounded-circle">
				<h5>Bharat Tailor</h5>
				<div class="heading_brd_name"></div>
				<p>Channel Manager Asia Pacific</p>
			</a>
			<div class="social">
				<a class="sa"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>
		</div>

		<div class="col-lg-4 col-md-6 mb-5">
			<a >
				<img src="{{server_url}}media/images/ahmad.jpg" class="img-fluid rounded-circle">
				<h5>Ahmed Mustafa</h5>
				<div class="heading_brd_name"></div>
				<p>Channel Manager - MEA</p>
			</a>
			<div class="social">
				<a class="sa"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>
		</div>

		<div class="col-lg-4 col-md-6 mb-5">
			<a >
				<img src="{{server_url}}media/images/israel.jpg" class="img-fluid rounded-circle">
				<h5>Israel Guzman</h5>
				<div class="heading_brd_name"></div>
				<p>Channel Manager - USA Region</p>
			</a>
			<div class="social">
				<a class="sa" href="https://www.facebook.com/iXpecial" target="_blank"><img src="{{server_url}}media/images/facebook.png" class="img-fluid facebook"></a>
				<a class="sa" href="https://www.linkedin.com/in/ipartner/" target="_blank"><img src="{{server_url}}media/images/linkedin.png" class="img-fluid linkedin"></a>
				<a class="sa" href="https://twitter.com/ipartner_" target="_blank"><img src="{{server_url}}media/images/twitter.png" class="img-fluid twitter"></a>
			</div>
		</div>
		
	</div>	


	<div class="row text-center our-team technical_team"> 
		<div class="col-lg-12 col-lg-12 mt-3 mb-4">
            <h3 class="heading ">
                Technical Team
                <div class="heading_brd_blue_center"></div>
            </h3>
		</div>		
		<div class="col-lg-2 tt-20 col-md-4 mb-3">
			<img src="{{server_url}}media/images/sowftware-enginner.png" class="img-fluid">
			<h6>Kamlesh Kumar</h6>
			<div class="heading_brd_name"></div>
			<p>Software Engineer</p>					
		</div>
		<div class="col-lg-2 tt-20 col-md-4 mb-3">
			<img src="{{server_url}}media/images/programmer.png" class="img-fluid">
			<h6>Deepak Soni</h6>
			<div class="heading_brd_name"></div>
			<p>Programmer</p>					
		</div>
		<div class="col-lg-2 tt-20 col-md-4 mb-3">
			<img src="{{server_url}}media/images/programmer.png" class="img-fluid">
			<h6>Devesh Singh</h6>
			<div class="heading_brd_name"></div>
			<p>Programmer</p>					
		</div>
		<div class="col-lg-2 tt-20 col-md-4 mb-3">
			<img src="{{server_url}}media/images/programmer.png" class="img-fluid">
			<h6>Pankaj Kumar Tailor</h6>
			<div class="heading_brd_name"></div>
			<p>Programmer</p>					
		</div>
		<div class="col-lg-2 tt-20 col-md-4 mb-3">
			<img src="{{server_url}}media/images/researcher.png" class="img-fluid">
			<h6>Rishi Kumar</h6>
			<div class="heading_brd_name"></div>
			<p>Researcher</p>					
		</div>
	</div>

	<div class="row text-center mt-4 mb-5"> 
		<div class="col-lg-2"></div>
		<div class="col-lg-4">
            <h3 class="heading ">
                Tech Support
				<div class="heading_brd_blue"></div>
			</h3>
			
			<h5>
				<a href="mailto:tech-support@skyvirt.tech" class="mt-3 d-block"><fa-icon [icon]="faEnvelope"></fa-icon> tech-support@skyvirt.tech</a>
			</h5>	
		</div>
		<div class="col-lg-4">
            <h3 class="heading ">
                Sales Enquiry
				<div class="heading_brd_blue"></div>
			</h3>
			<h5>
				<a href="mailto:sales@skyvirt.tech" class="mt-3 d-block"><fa-icon [icon]="faEnvelope"></fa-icon> sales@skyvirt.tech</a>
            </h5>	
		</div>
	</div>
</div>

<!-- Footer -->
<app-candidatefooter></app-candidatefooter>