.banner-bg { 
	background-size: cover;	
	background-repeat: no-repeat;
	padding: 30px 100px 20px;
    margin-top: 115px;
}
.bheaading {
	text-transform: uppercase;
	color: #fff;
	font-size: 47px;
}
.bheaading span{
    font-family: 'Open Sans', sans-serif;
    display: block;
}
.text-upper {
	text-transform: uppercase;
}
.bnr-tagline{
	font-size: 18px;
    color: #fff;
}
.bg-grayh { 
	background-color: #f2f2f2; 
	background-size: cover;	
	background-repeat: no-repeat;
}
.home .htsec {
    padding: 0 41px 36px;
}
.home .sech {
	margin-top: 20px;
}
.home .secp {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 21px;
}
.text-red{
	color: #e94a5b;
	font-weight: 600;
}
.text-blue{
	color: #023652;
	font-weight: 600;
}
.ptext-blue{
	color: #023652;
}
.hboxshado{
	box-shadow: 0 5px 15px 3px rgb(74 85 140 / 29%);
}
.max-width {
	max-width: 1366px;
    margin: auto;
}
.max-widths {
	max-width: 1200px;
    margin: auto;
}
.sideh-padding {
	padding: 50px 80px 0;
}
.sideh-paddingt {
	padding: 50px 110px 0;
}

.testimonial-box {
    background-color: #013051;
    line-height: 21px;
    padding: 25px;
    margin: 80px 15px 15px;
    font-size: 15px;
}
.testimonial-profile {
    margin-top: -80px;    
    margin-bottom: 20px;
}
.testimonial-profile img{
    border-radius: 100%;
}
.video-icon {
    top: 30%;
    left: 43%;
}

@media only screen and (max-width: 768px)
{
    .banner-bg {
        padding: 50px 20px 20px;
    }
    .bnr-text {
        margin-left: 0px;
    }
    .bheaading {
        font-size: 23px;
        text-align: center;
    }
    .sideh-padding {
        padding: 50px 20px 0;
    }
    .sideh-paddingt {
        padding: 50px 20px 0;
    }
    .home .htsec {
        padding: 0 20px 36px;
    }
}
@media only screen and (max-width: 767px)
{
    .sideh-paddingt {
        padding: 50px 0px 0;
    }
    .testimonial-box {
        padding: 25px 8px;
        margin: 80px 0px 15px;
    }    
}
@media only screen and (min-width: 1024px) and (max-width: 1200px)
{
    .sideh-paddingt {
        padding: 50px 50px 0;
    }  
    
}
@media only screen and (min-width: 1300px)
{
    .banner-bg { 
        height: 87vh;
    }
    .slider-center {
        height: 60vh;
        align-items: center;
    }
    .bheaading {
        float: right;
    }
    .testimonial-box {
        min-height: 460px;
    }
}
@media only screen and (min-width: 1600px)
{
    .testimonial-box {
        min-height: 400px;
    }
}
.no-mar{
    margin-bottom:0px;
}
/* end demo popup   */

/* //////// New Version //////// */
.container-fluid {
    background: #081327;
}

.container {
    max-width: -webkit-fill-available;
    background: #081327;

}

.sign-btn {
    font-family: 'Chakra Petch';
    border: none;
    background: #00FFFA !important;
    font-weight: 600;
    padding: 8px 25px;
    margin-left: 30px;
    clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
    color: #000;
    font-size: 16px;
}

.banner {
    height: 680px;
}

.banner .banner-details {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url('../../assets/images/home/cyber-bag-video.gif');
}

.banner-text {
    padding: 0px 50px;
    position: relative;
    text-align: center;
    max-width: -webkit-fill-available;
}

.banner-text span {
    color: #fff;
    font-family: 'Chakra Petch';
    font-size: 50px;
    font-weight: 600;
}

.banner-text p {
    font-size: 18px;
    font-family: 'Chakra Petch';
    color: #ccc;
    letter-spacing: 0.4px;
    margin-top: 20px;
    line-height: 30px;
}

.banner-text label{
    color: #00FFFA;
    font-size: 28px;
    font-family: 'Chakra Petch';
    font-weight: 600;
}


.features-1 {
    background: linear-gradient(214.25deg, rgba(0, 0, 0, 0.224) 6.73%, rgba(0, 0, 0, 0.084) 100.28%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 9.89672px 13.1956px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(23.0923px);
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 20px;
 }

 .features-1:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 15px 35px rgba(12, 199, 171, 0.35), 0px 9.89672px 13.1956px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(23.0923px);
    transition: all 0.3s ease-in-out;
    background: #102D4D;
 }

 .pattern {
    position: absolute;
 }

.features-1 .features-title {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

.show-demo {
    font-family: 'Chakra Petch';
    border: none;
    background: #00FFFA;
    font-weight: 600;
    margin-top: 40px;
    padding: 12px 25px;
    margin-left: 0px !important;
}

.vector-image img {
    width: -webkit-fill-available;
}

.nav-collapse {
    padding: 0 !important;
}

.our-industry , .our-client {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 50px 30px;
    /* animation: motion-blur 5s ease-in-out infinite; */
    /* background-image: url('../../assets/images/home/Effect-1.svg'); */
    background-repeat: no-repeat;
    background-position: 50% -30%, 0% 50%, center bottom;
}

.our-client {
    padding: 100px 30px;
    margin: 0px 50px;
    position: relative;
}

.our-industry span {
    font-size: 38px;
    font-family: 'Chakra Petch';
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.partner,.client {
    /* margin-top: 10px; */
}

.partner span {
    font-size: 22px;
}

.client span {
    font-size: 22px;
}

.our-partner {
    display: flex;
    overflow-y: scroll;
}

.our-partner img{
    margin-right: 100px;
}

.about-cyberRange label {
    font-size: 18px;
    font-family: 'Chakra Petch';
    color: #00FFFA;
    letter-spacing: 0.4px;
}

.about-cyberRange span {
    font-family: 'Chakra Petch';
    font-size: 38px;
    color: #fff;
    font-weight: 600;
}

.about-cyberRange p {
    font-size: 18px;
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    line-height: 28px;
    margin-top: 30px;
    font-weight: 200;
}

.cyber-text {
    display: flex;
    align-items: center;
}

.cybersecurity {
    margin: 100px 50px;
}

.cyber-project span{
    font-size: 55px;
    font-family: 'Chakra Petch';
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.cyber-project{
    margin-left: 20px;
    text-align: start;
}

.cyber-project p{
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    margin: 0;
}

.client-icon img {
    padding: 15px 20px;
}

.client-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: #00FFFA;
    padding: 5px;
}

.total-clients {
    display: flex;
    align-items: center;
}

.category-icon {
    height: 74px;
}

.company-category .category-details {
    margin-top: 30px;
}

.company-category {
    padding: 30px;
    /* height: 350px; */
}

.company-category:hover {
    background: rgba(33, 103, 163, 0.3);
    border: 1px solid #131A34;
    box-shadow: 0px 15px 35px rgba(12, 199, 171, 0.35);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.company-category .category-details span{
  color: #fff;
  font-family: 'Chakra Petch';
  letter-spacing: 0.4px;
  font-weight: 600;
  font-size: 24px;
}

.company-category .category-details p {
    color: #fff;
    font-family: 'Chakra Petch';
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-top: 20px;
    font-weight: 300;
}

.category {
    margin-top: 7% !important;
    margin: 0px 50px;
}

.category-card {
    margin-top: 50px;
}

.category-bg-image {
    margin-top: 5% !important;
    margin: 0px 50px;
}

.category-bg-image img {
    width: 100%;
}

.footer {
    background-image: url('../../assets/images/home/footer-bg-image.svg');
}

.footer-header-title {
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-option {
    margin-top: 20px;
}

.footer-all-section {
    margin-top: 4%;
}

.footer-all-section .row {
  border-bottom: 1px solid #00FFFA;
}

.footer-option p{
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-menu ul{
    list-style: none;
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    line-height: 40px;
    padding: 0;
}

.footer-social-icon {
    display: flex;
    margin-bottom: 30px;
}

.footer-social-icon .social-icon {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.footer-copyright {
    text-align: center;
    margin: 28px 0px;
}

.footer-copyright .copyright {
    color: #fff;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
    font-size: 18px;
}

.footer-copyright span {
    color: #00FFFA;
    font-family: 'Chakra Petch';
    letter-spacing: 0.4px;
}

.footer-copyright span i {
    color: red;
}


.our-industry {
    border-radius: 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1440px) {

    /* .banner-text .features-option .row {
        width:70%;
    } */
    .about-section{
        margin: 5% !important;
    }
}

@media only screen and (max-width: 1366px) {
    .section nav ul li a{
        font-size: 14px;
        margin: 0px 7px;
    }

    .navbar-brand {
        margin: 0;
    }

    .sign-btn {
        font-size: 14px;
        padding: 6px 18px;
        margin-left: 15px;
    }

    .banner-text label{
        font-size: 20px;
    }

    .banner-text span {
        font-size: 30px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .features-1 {
        padding: 10px 6px;
    }

    /* .banner-text .features-option .row {
        width:70%;
    } */

    .features-1 .features-title {
        font-size: 13px;
        margin-left: 8px;
    }

    .show-demo {
        font-size: 14px
    }

    .about-section{
        margin: 4% !important;
    }

    .typewriter p {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 1170px) {

    .footer .footer-logo {
        width: 220px;
    }

    .section nav ul li a{
        font-size: 12px;
        padding: 5px 5px;
        margin-left: 10px;
    }

    .section nav .logo img {
        width: 200px;
    }

    .sign-btn {
        font-size: 12px;
        padding: 6px 18px;
        margin-left: 15px;
    }

    .our-industry span {
        font-size: 30px;
    }

    .partner span, .client span {
        font-size: 20px;
    }

    .client-icon img {
        padding: 15px 20px;
    }
    
    .client-icon {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        background: #00FFFA;
        padding: 5px;
    }

    .cyber-project span {
        font-size: 35px;
    }

    .cyber-project p {
        font-size: 14px;
    }

    .about-section{
        margin: 0% !important;
    }
}

@media only screen and (max-width: 991px) {
    .banner-text .features-option .row {
        width:100%;
    }

    .cyber-range img {
        width: -webkit-fill-available;
    }

    .made-in-india {
        width: -webkit-fill-available;
    }

    .social-icon {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        height: auto;
    }

    .our-client {
        padding: 60px 30px;
    }

    .our-industry {
        display: block;
    }

    .our-industry .row {
        width: auto !important;
    }

    .total-clients {
        margin: 20px 0px;
    }

    .vector-image {
        text-align: center;
        margin-top: 50px;
    }

    .vector-image img {
        width: -webkit-fill-available;
    }

    .made-in-india {
        width: auto;
    }

    .sign-btn {
        margin-bottom: 30px;
    }
}

/* Video css */

.video_section {
    margin-top: 5% !important;
    margin: 0px 50px;
    background: linear-gradient(214.25deg, rgba(0, 0, 0, 0.224) 6.73%, rgba(0, 0, 0, 0.084) 100.28%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 50px 30px;
    background: linear-gradient(214.25deg, rgba(0, 0, 0, 0.224) 6.73%, rgba(0, 0, 0, 0.084) 100.28%);
    /* animation: motion-blur 5s ease-in-out infinite; */
    /* background-image:  url('../../assets/images/home/Ellipse-9.svg'); */
    /* background-image: url('../../assets/images/home/Ellipse-7.svg'), url('../../assets/images/home/Ellipse-8.svg'), url('../../assets/images/home/Ellipse-9.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position: 110% -14%, -12% 50%, 108% 130%, center bottom; */
    padding-bottom: 6%;
}

.video_section_header {
    font-family: 'Chakra Petch';
    font-weight: 600;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 38px;
}

.video_section_register {
    font-family: 'Chakra Petch';
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #00FFFA;
    /* padding: 25px 0px; */
    padding-top: 25px;
    padding-bottom: 50px;
}

.video_box {
    box-sizing: border-box;
    border: 3px solid #00FFFA;
    border-radius: 20px;
    max-width: 1100px;
    /* width: max-content; */
}

.video_player {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 100%;
    /* height: 558px; */
}
.video{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.video_icon{
    position: absolute;
    top: 50%;
}

.about_us {
    padding-bottom: 8%;
}

.about_us_header {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10%;
}

.about_us_item {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0;
}

.about_card {
    /* background: linear-gradient(129.37deg, rgba(193, 255, 254, 0.2) 8.09%, rgba(0, 255, 250, 0.2) 100%); */
    background: #0e2b3d;
    border-radius: 30px;
    margin: 0px 50px;
    padding: 5%;
}
.about_card_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_card_text {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    color: #FFFFFF;
}

.about_card_user_name {
    font-family: 'Chakra Petch';
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #00FFFA;
    /* padding-left: 20px; */
    display: flex;
    align-items: center;
}

.about_card_user_name span{
    padding-left: 20px;
}
.userpic{
    border: 1px solid #00FFFA;
    border-radius: 50%;
}

.about_button .button {
    list-style-type: none;
    display: flex;
}
.about_button .button .active {
    width: 15px;
    height: 15px;
    left: 697px;
    top: 556.5px;
    background: #00FFFA;
    border: 1px solid #00FFFA;
    border-radius: 7.5px;
    padding-left: 10px;
}
 ::ng-deep .owl-theme .owl-dots .owl-dot.active span {
    width: 15px !important;
    background: #00FFFA !important;
    height: 15px !important;
}

 ::ng-deep .owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    background: #FFFFFF !important;
    border: 1px solid #AAAAAA !important;
    height: 15px !important;
}
.about_button .button li {
    width: 15px;
    height: 15px;
    left: 697px;
    top: 556.5px;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 7.5px;
    padding-left: 10px;
}
.about_button{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.about_button .button li{
    margin-right: 20px;
}

@media only screen and (max-width: 550px) {

    .video_icon{
        position: absolute;
        top: 62%;
        left: 41%;
    }
  .video_icon img{
        width: 50%;
    }
    .video_section_header{
        font-size: 25px;
    }
    .video_section {
        margin-top: 20%;
        padding-bottom: 12%;
    }

    .video_section_register{
        font-size: 22px;
        padding-bottom: 30px;
    }
}

    .counter {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }


    .client.ng-enter {
        opacity: 0;
        transform: translateY(50px);
    }

    .client.ng-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s, transform 1s;
    }

    .line-1 {
        width: 100%;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        font-family: 'Chakra Petch';
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 33px;
    }

    .anim-typewriter {
        animation: typewriter 25s steps(100) 2s 1 normal both;
        overflow: hidden;
        word-break: break-word;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 50em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }

        to {
            border-right-color: transparent;
        }
    }

    .image {
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 2s infinite  alternate;
    }

    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-30px); }
    }

    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-30px); }
    }


  .typewriter p {
      /* width: 0;
      max-width: max-content;
      overflow: hidden;
      border-right: .05em solid #464545; */
      /* white-space: nowrap;
      margin: 0; */
      color: #00FFFA;
      font-size: 28px;
      font-family: 'Chakra Petch';
      font-weight: 600;
  }

  /* .typing-erase {
      animation:
          2s typing-erase 4s steps(50, end) infinite,
          blink-caret .5s step-end infinite;
  } */

  @keyframes typing-erase {
      0% {
          width: 0
      }

      80% {
          width: 100%
      }

      90%,
      100% {
          width: 0
      }
  }

  @keyframes blink-caret {

      from,
      to {
          border-color: transparent
      }

      50% {
          border-color: gray
      }
  }





  .background {
    width: 100%;
    height: auto;   

  }
  
  .ball {
    position: absolute;
    top: 30%;
  }

  .balls {
    position: absolute;
    bottom: 30%;
  }
  
  
  .ball img, .balls img{
    height: auto;
    border-radius: 50%;
  }
  
  .ball.motion-blur {
    animation: motion-blur 6s infinite reverse;
    z-index: 1;
  }

  .balls.top-motion-blur {
    animation: top-motion-blur 6s infinite;
    z-index: 1;
  }

  @keyframes top-motion-blur {
    0% {
        right: 0%;
        bottom: 0%;
    }
    5% {
        right: 0%;
        bottom: 0%;
    }
    50% {
        right: 70%;
        bottom: 0%;
    }
    55% {
        right: 70%;
        bottom: 0%;
    }
    100% {
        right: 0%;
        bottom: 0%;
    }
  }

  
  @keyframes motion-blur {
    0% {
        left: 0%;
        top: 0%;
    }
    5% {
        left: 0%;
        top: 0%;
    }
    50% {
        left: 70%;
        top: 0%;
    }
    55% {
        left: 70%;
        top: 0%;
    }
    100% {
        left: 0%;
        top: 0%;
    }
  }



  .backgroundbanner1, .backgroundbanner3, .backgroundbanner4 {
    width: 100%;
    height: auto;   
  }

  .balls1.top-motion-blur-banner1 {
    animation: motion-blur1 9s infinite;
  }

  .balls1 {
    position: absolute;
    bottom: 0%;
  }

  @keyframes motion-blur1 {
    0% {
        right: 60%;
    }
    5% {
        right: 60%;
    }
    50% {
        right: 0%;
    }
    55% {
        right: 0%;
    }
    100% {
        right: 60%;
    
    }
  }

  .backgroundbanner2 {
    width: 100%;
    height: auto;   

  }
  .balls2.top-motion-blur-banner2 {
    animation: motion-blur2 7s infinite;
  }

  .balls2 {
    position: absolute;
    bottom: 0%;
    width: 50%;
  }

  @keyframes motion-blur2 {
    0% {
        right: 10%;
        bottom: 50%;
    }
    5% {
        right: 10%;
        bottom: 50%;
    }
    50% {
        right: 0%;
        bottom: 0%;
    }
    55% {
        right: 0%;
        bottom: 0%;
    }
    100% {
        right: 10%;
        bottom :50%;
    
    }
  }

  .balls3.top-motion-blur-banner3 {
    animation: motion-blur3 9s infinite;
  }

  .balls3 {
    position: absolute;
    bottom: 0%;
  }

  .balls3 img , .balls4 img {
    opacity: 0.7;
  }

  @keyframes motion-blur3 {
    0% {
        left: 30%;
        bottom: 50%;
    }
    5% {
        left: 30%;
        bottom: 50%;
    }
    50% {
        left: 0%;
        bottom: 0%;
    }
    55% {
        left: 0%;
        bottom: 0%;
    }
    100% {
        left: 30%;
        bottom: 50%;
    
    }
  }


  .balls4.top-motion-blur-banner4 {
    animation: motion-blur4 9s infinite;
  }

  .balls4 {
    position: absolute;
    bottom: 0%;
  }

  @keyframes motion-blur4 {
    0% {
        top: 30%;
        left: -5%;
    }
    5% {
        top: 30%;
        left: -5%;
    }
    50% {
        top: 0%;
        left: -5%;
    }
    55% {
        top: 0%;
        left: -5%;
    }
    100% {
        top: 30%;
        left: -5%;
    }
  }
  
  .balls5.top-motion-blur-banner5 {
    animation: motion-blur5 9s infinite;
    z-index: -1;
  }

  .balls5 {
    position: absolute;
    top: 50%;
  }

  @keyframes motion-blur5 {
    0% {
        right: -3%;
    }
    5% {
        right: -3%;
    }
    50% {
        right: 30%;
    }
    55% {
        right: 30%;
    }
    100% {
        right: -3%;
    }
  }
  .balls6.top-motion-blur-banner6 {
    animation: motion-blur6 9s infinite;
    z-index: -1;

  }

  .balls6 {
    position: absolute;
    top: 0%;
  }

  @keyframes motion-blur6 {
    0% {
        right: 0%;
        top: 0%;
    }
    5% {
        right: 0%;
    }
    50% {
        right: 40%;
        top: 50%;
    }
    55% {
        right: 40%;
        top: 50%;
    }
    100% {
        right: 0%;
    
    }
}

.balls7.top-motion-blur-banner7 {
    animation: motion-blur7 10s infinite;
    z-index: -1;
  }

  .balls7 {
    position: absolute;
    top: 35%;
  }

  @keyframes motion-blur7 {
    0% {
        left: 60%;
    }
    5% {
        left: 60%;
    }
    50% {
        left: 0%;
    }
    55% {
        left: 0%;
    }
    100% {
        left: 60%;
    
    }
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
}
.about_card_bg{
    display: flex;
    justify-content: flex-end;
}
.Partners_Clients{
    font-family: 'Chakra Petch';
    font-weight: 600;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    padding: 30px;
}
.Partners_Clients_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Partners__Clients{
    padding: 30px 0;
}
.glass-effects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

&:before {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.glassIco {
    --width: 100px;
    /* height: 100px; */
    backdrop-filter: blur(2px);
    /* text-decoration: none; */
    background: #00fffa;
    clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Chakra Petch';
    border: none;
    background: #00FFFA;
    font-weight: 600;
    margin-top: 40px;
    padding: 12px 25px;
    margin-left: 0px !important;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 20%;
        height: 100%;
        background: #FFFFFF;
        filter: blur(0px);
        transition: 0.7s;
        transform: skewX(35deg) translateX(calc(var(--width) + 20%));
    }


    &:hover {

        &:before {
            transform: skewX(35deg) translateX(calc(var(--width) * -1 - 20%))
        }
    }

    &>* {
        opacity: 0.8;
    }

    & * {
        box-sizing: border-box;
        transition: 300ms;
    }
}
.about-section{
    margin: 10% !important;
}