<div class="col-md-12 content dashboard-body"> 

<app-breadcrumbs side="admin" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>

<ngb-alert *ngIf="!closed" class="animate-show animate-hide mb-3" type="{{alertClass}}" (close)="closed = true"><strong innerHTML={{alertMessage}} >{{ alertMessage }}</strong></ngb-alert>

<div class="padding-body dk-table">
	<div class="content-box-shadow">
        <form [formGroup] = "formdata" >	
			<div class="row">  

				<div class="col-lg-2 col-md-6 form-group ippd50">
					<select class="form-control fortextbox" id="status" name = "status" (change) = "changeStatus($event)" formControlName="status" >
						<option  value="null">Select Status</option>
						<option *ngFor="let status of statusList; let i = index" [value]="statusList[i]">
							{{statusList[i]}}
						</option>
					</select>					
				</div>	
				<div class="col-lg-2 col-md-6 form-group ippd50">
					<input id="search" type="text" placeholder="Search..." class="form-control" (keyup)="datatableSearch($event)" />
				</div>				
				<div class="col-lg-2 col-md-6 mb-4 ippd50">			
					<div class="mtain">
						<div class="min80"><span class="Actives"></span> Active</div>
						<div class="min80"><span class="Inactives"></span> Inactive</div>	
					</div>
				</div>	
				<div class="col-lg-6 col-md-6 form-group text_right">
					<div class="btn-box">
						<div class="theme-btn theme-btn-dd">
							<span class="txt">
								<a class="btn btn_blueas" routerLink="{{dashboard_url}}team-type" ><fa-icon [icon]="faUser"></fa-icon> &nbsp;Add New Team Type</a>
							</span>
						</div>
					</div>
				</div>     

			          
				<div class="col-md-12 form_lable form-group table-responsive main-tabl-height dk-table tpm">
					<table id="team-table" datatable [dtOptions]="dtOptions[1]" dt-instance="dtInstance" [dtTrigger]="dtTrigger" class="row-border table hover table-striped">
						<thead>
							<tr>							
								<th class="tidcenter tidc">S.No.</th>
								<th class="tttc">Team Type</th>									
								<th class="taic">Assigned Instructor</th>
								<th class="tcbc">Created By</th>
								<th class="tluc">Create Date</th>
								<th class="tluc">Last Update</th>
								<th class="tac">Action</th>
							</tr>
						</thead>
						<tbody *ngIf="teams?.length != 0">
							<tr *ngFor="let team of teams"
								[class.highlighted]="clicked === team.s_no" (click)="clicked = team.s_no"
							>
								<td class="tidcenter tidc">{{ team.s_no }}</td>
								<td width="">
									<a routerLink="{{dashboard_url}}team-type/{{team.id}}" class="btn-default btn-sm btn-danger" class="edit" placement="top" ngbTooltip="{{ team.team_type }}">{{ team.team_type }}</a>
									<span class="status-{{team.status}}">{{ team.total_team }}</span></td>
								<td width="">
									<a href="javascript:void(0);" (click)="viewUserProfile(team.team_type_assign_instructor);" class="tablelinkc cap" title="{{ team.team_type_instructor_name }} profile" >{{ team.team_type_instructor_name }}</a>
								</td>
								<td width="">
									<a href="javascript:void(0);" (click)="viewUserProfile(team.team_type_created_by_id);" class="tablelinkc cap" title="{{ team.team_type_created_by }} profile" >{{ team.team_type_created_by }}</a>
								</td>
								<td width="">{{ team.create_datetime }}</td>								
								<td width="">{{ team.last_datetime }}</td>
								<td width="" *ngIf="group_id==1">
									<a routerLink="{{dashboard_url}}team-type/{{team.id}}" class="btn-default btn-sm btn-danger" class="edit"  placement="top" ngbTooltip="Edit" ><fa-icon [icon]="faEdit"></fa-icon></a>
									<button  class="btn btn-sm btn-delete"  (click) = "deleteTeamType(team.id)" placement="top" ngbTooltip="Delete"><fa-icon [icon]="faTrash"></fa-icon></button>
								</td>
								<td width="" *ngIf="group_id==2">
									<div *ngIf="update_by == team.team_type_assign_instructor; else blankdiv">
									<a routerLink="{{dashboard_url}}team-type/{{team.id}}" class="btn-default btn-sm btn-danger" class="edit" placement="top" ngbTooltip="Edit"><fa-icon [icon]="faEdit"></fa-icon></a>
									<button  class="btn btn-sm btn-delete" (click)="deleteTeamType(team.id)" placement="top" ngbTooltip="Delete"><fa-icon [icon]="faTrash"></fa-icon></button>
									</div>
									<ng-template #blankdiv>-</ng-template>
								</td>                      
							</tr>
						</tbody>
						<tbody *ngIf="teams?.length == 0">
							<tr>
								<td colspan="7" class="no-data-available">No data!</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</form>      
	</div>
</div>	
</div>
<app-viewuserprofile [get_viewProfile]="viewProfile" ></app-viewuserprofile>
