<app-candidateheader></app-candidateheader>

<!-- Sub Header-->
<app-breadcrumbs [side]="'front'" [form_title]="form_title" [current_url_array]="current_url_array" ></app-breadcrumbs>

<!-- Sub Header End -->
<div class="padding-all page-min-height contactus maxf-width"> 	
	<div class="row mt-5 mb-5">
		<div class="col-md-12">
            <h2 class="heading text-center">
                Legal Information
                <div class="heading_brd_blue_center"></div>
            </h2>

			<p class="pt-3">
                This website of the <b>"SkyVirt<sup>®</sup> - A Cyber Range"</b> has been developed to provide information specifically to all computer ,internet users, Resource Centres and participating institutions. The documents and information displayed in this website, are for reference purposes only and does not puport to be a legal document.
            </p>
            <p class="pt-1">
                SkyVirt<sup>®</sup> does not warranty the accuracy or completeness of the information,text,graphics,links or other items contained within these and may make changes to the contents, or to the information dscribed therein, at any time, without any prior notice, and makes no commitment to update the contents on its website.
            </p>
            <p class="pt-1">
                Institutions implementing the program, provide the content of this website. SkyVirt<sup>®</sup> will not be responsible for any incorrect data or contents provided by these institutions.
            </p>
            <p class="pt-1">
                As a result of updates and corrections, web contents are subjected to change without any notice. Commercial use of web content is strictly prohibited without the written permission of the Department. 
            </p>
            <p class="pt-1">
                SkyVirt<sup>®</sup> neither endorses in any way nor offers any judgement or warranty and accepts no responsebility or liability for the authenticity, availability of any of the goods or services or for any damage, loss or harm, direct or consequential or any violation of local or international laws, that may be incurred by your visiting or transacting on these websites.
            </p>
		</div>
	</div>	
</div>

<!-- Footer -->
<app-candidatefooter></app-candidatefooter>